In [1]:
import pandas as pd
parks = pd.read_csv('nationalparks.csv')
parks.head()

,ParkTitle,City,State,ParkType,Area,AreaValues,Visitors2021
0,Great Smoky Mountains National Park,Gatlinburg,TN,National park,816.3 sqmi,816.3,14161548
1,Zion National Park,Springdale,UT,National park,229.1 sqmi,229.1,5039835
2,Yellowstone National Park,Jackson,WY,National park,3468.4 sqmi,3468.4,4860242
3,Grand Canyon National Park,Grand Canyon Village,AZ,National park,1902.0 sqmi,1902.0,4532677
4,Rocky Mountain National Park,Estes Park,CO,National park,414.8 sqmi,414.8,4434848

1. Display information about all the columns in this dataset.

In [2]:
parks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72 entries, 0 to 71
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ParkTitle     72 non-null     object
 1   City          72 non-null     object
 2   State         72 non-null     object
 3   ParkType      72 non-null     object
 4   Area          72 non-null     object
 5   AreaValues    72 non-null     float64
 6   Visitors2021  72 non-null     int64
dtypes: float64(1), int64(1), object(5)
memory usage: 4.1+ KB

2. The only information in `Area` that isn't in `AreaValues` are the units. Rename `AreaValues` to `Area_SqMi`.

In [4]:
parks = parks.rename(mapper ={'AreaValues':'Area_SqMi'}, axis=1)
parks.head()

,ParkTitle,City,State,ParkType,Area,Area_SqMi,Visitors2021
0,Great Smoky Mountains National Park,Gatlinburg,TN,National park,816.3 sqmi,816.3,14161548
1,Zion National Park,Springdale,UT,National park,229.1 sqmi,229.1,5039835
2,Yellowstone National Park,Jackson,WY,National park,3468.4 sqmi,3468.4,4860242
3,Grand Canyon National Park,Grand Canyon Village,AZ,National park,1902.0 sqmi,1902.0,4532677
4,Rocky Mountain National Park,Estes Park,CO,National park,414.8 sqmi,414.8,4434848

3. With the units in the title of `Area_SqMi` now, we can safely drop `Area`

In [5]:
parks = parks.drop(labels = ['Area'], axis=1)
parks.head()

,ParkTitle,City,State,ParkType,Area_SqMi,Visitors2021
0,Great Smoky Mountains National Park,Gatlinburg,TN,National park,816.3,14161548
1,Zion National Park,Springdale,UT,National park,229.1,5039835
2,Yellowstone National Park,Jackson,WY,National park,3468.4,4860242
3,Grand Canyon National Park,Grand Canyon Village,AZ,National park,1902.0,4532677
4,Rocky Mountain National Park,Estes Park,CO,National park,414.8,4434848

4. Let's convert the column `Area_SqMi` from squared miles units to squared kilometers and assign it to a new column `Area_SqKm`. We'll use the sqmi to sqkm ratio $ 1:2.59 $ (that is, multiply the squared miles by 2.59).

In [6]:
parks['Area_SqKm'] = parks['Area_SqMi'] * 2.59
parks.head()

,ParkTitle,City,State,ParkType,Area_SqMi,Visitors2021,Area_SqKm
0,Great Smoky Mountains National Park,Gatlinburg,TN,National park,816.3,14161548,2114.217
1,Zion National Park,Springdale,UT,National park,229.1,5039835,593.369
2,Yellowstone National Park,Jackson,WY,National park,3468.4,4860242,8983.156
3,Grand Canyon National Park,Grand Canyon Village,AZ,National park,1902.0,4532677,4926.180
4,Rocky Mountain National Park,Estes Park,CO,National park,414.8,4434848,1074.332

5. Calculate average daily visits in 2021 by dividing `Visitors2021` by `365`. Try rounding the result to a smaller number of decimals as well!

In [7]:
parks ['avg_daily_visits'] = parks ['Visitors2021'] / 365
parks ['avg_daily_visits'] = parks ['avg_daily_visits'].round(2)
parks.head()

,ParkTitle,City,State,ParkType,Area_SqMi,Visitors2021,Area_SqKm,avg_daily_visits
0,Great Smoky Mountains National Park,Gatlinburg,TN,National park,816.3,14161548,2114.217,38798.76
1,Zion National Park,Springdale,UT,National park,229.1,5039835,593.369,13807.77
2,Yellowstone National Park,Jackson,WY,National park,3468.4,4860242,8983.156,13315.73
3,Grand Canyon National Park,Grand Canyon Village,AZ,National park,1902.0,4532677,4926.180,12418.29
4,Rocky Mountain National Park,Estes Park,CO,National park,414.8,4434848,1074.332,12150.27

6. The `ParkType` column should be categorical, but is currently `object`. Convert this column to `category` type.

In [9]:
parks ['ParkType'] = parks ['ParkType'].astype('category')
parks ['ParkType'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 72 entries, 0 to 71
Series name: ParkType
Non-Null Count  Dtype
--------------  -----
72 non-null     category
dtypes: category(1)
memory usage: 404.0 bytes

7. Use `.str.cat()` to create an information statement about each park: `ParkTitle is located in State`. Hint: use ` is located in ` as the argument for `sep`.

In [13]:
parks ['ParkInfo'] = parks ['ParkTitle'].str.cat (parks['State'], 'is located in ')
parks.head(10)

,ParkTitle,City,State,ParkType,Area_SqMi,Visitors2021,Area_SqKm,avg_daily_visits,ParkInfo
0,Great Smoky Mountains National Park,Gatlinburg,TN,National park,816.3,14161548,2114.217,38798.76,Great Smoky Mountains National Parkis located ...
1,Zion National Park,Springdale,UT,National park,229.1,5039835,593.369,13807.77,Zion National Parkis located in UT
2,Yellowstone National Park,Jackson,WY,National park,3468.4,4860242,8983.156,13315.73,Yellowstone National Parkis located in WY
3,Grand Canyon National Park,Grand Canyon Village,AZ,National park,1902.0,4532677,4926.180,12418.29,Grand Canyon National Parkis located in AZ
4,Rocky Mountain National Park,Estes Park,CO,National park,414.8,4434848,1074.332,12150.27,Rocky Mountain National Parkis located in CO
5,Acadia National Park,Bar Harbor,ME,National park,76.7,4069098,198.653,11148.21,Acadia National Parkis located in ME
6,Grand Teton National Park,Moose,WY,National park,485.0,3885230,1256.150,10644.47,Grand Teton National Parkis located in WY
7,Yosemite National Park,Yosemite Valley,CA,National park,1169.0,3287595,3027.710,9007.11,Yosemite National Parkis located in CA
8,Indiana Dunes National Park,Porter,IN,National park,23.5,3177210,60.865,8704.68,Indiana Dunes National Parkis located in IN
9,Glacier National Park,Browning,MT,National park,1583.4,3081656,4101.006,8442.89,Glacier National Parkis located in MT